<div class="post">
  <p class="title">Автор: <span>Пердебаева Улзира</span></p>
  <p class="title">Дата публикации: <span>07.10.2025г.</span></p>
  <p class="title">Пост: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur unde odio
      error earum pariatur delectus exercitationem eligendi repellat fugit!</span></p>
  <div class="buttons">
    <button class="update" routerLink="" type="submit">Редактировать</button>
    <button class="delete" routerLink="" type="submit">Удалить</button>
  </div>
</div>
