
<div class="modal active">
  <div class="modal__box">
    <button class="modal-close-btn" (click)="onClose()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-castom">
        <line x1="18" y1="6" x2="6" y2="18" stroke="black" stroke-width="2" stroke-linecap="round" />
        <line x1="6" y1="6" x2="18" y2="18" stroke="black" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    
    <h2>Редактирование профиля:</h2>
    <form [formGroup]="formUpdating" (ngSubmit)="onUpdate()">
      <input formControlName="name" type="text" placeholder="Изменить ФИО">
      <p *ngIf="formUpdating.get('name')?.invalid && formUpdating.get('name')?.touched" class="error-text">Поле не может быть пустым</p>
      <input formControlName="email" type="email" placeholder="Введите ваш эл. адресс">
      <p *ngIf="formUpdating.get('email')?.invalid && formUpdating.get('email')?.touched" class="error-text">Введите действительный эл. адрес</p>
      <textarea formControlName="about" name="text" placeholder="Расскажите о себе"></textarea>
      <input type="file" (change)="onFileSelected($event)">
      <div class="buttons">
        <button type="submit" class="save">Сохранить</button>
        <button [disabled]="formUpdating.invalid" (click)="onClose()" type="button" class="cancel">Отмена</button>
      </div>
    </form>
    
  </div>
</div>

<!-- <div class="modal" *ngIf="isEditModalOpen">
  <input type="text" [(ngModel)]="editUser.name">
  <input type="file" (change)="onFileSelected($event)">
  <button (click)="saveChanges()">Сохранить</button>
  <button (click)="closeModal()">Отмена</button>
</div> -->
