:root {
  --color-dark-blue: #181c29;
  --color-white: #ffffff;
  --color-gray: #dddfe2;
  --color-blue: #4361ff;
  --color-pink: #ff43f7;
  --color-green: #06a44f;
  --color-red: #ff4646;
  --color-overlay: rgb(24, 28, 41, 0.8);
}
