/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/fonts';

.container {
  max-width: 1276px;
  width: 100%;
  margin: 0 auto;

  @include _768-block {
    max-width: 768px;
  }

  @include _420-block {
    max-width: 380px;
  }
}

body.lock {
  overflow: hidden;
}

* {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.dashboard-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}